/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "./keypos42.h"
#include "./helpers.h"


ZMK_UNICODE_PAIR(u_dia,    N0, N0, F, C,    N0, N0, D, C)   // ü/Ü
ZMK_UNICODE_PAIR(acute,    N0, N0, B, 4,    N0, N0, A, 8)  // ´/¨
ZMK_UNICODE_PAIR(ntilde,   N0, N0, F, 1,    N0, N0, D, 1)  // ñ/Ñ
ZMK_UNICODE_PAIR(k7,       N0, N0, B, 7,    N0, N0, A, 7)  // 7/clear 
ZMK_UNICODE_PAIR(k8,       N0, N0, B, 8,    N0, N0, 3, D)  // 8/equal
ZMK_UNICODE_PAIR(k9,       N0, N0, B, 9,    N0, N0, 2, F)  // 9/divide
ZMK_UNICODE_PAIR(ksub,     N0, N0, B, 6,    N0, N0, 3, C)  // -/multiply
ZMK_UNICODE_PAIR(kparen,   N0, N0, 2, 8,    N0, N0, 2, 9)  // (/)
ZMK_UNICODE_PAIR(kthan,    N0, N0, 3, C,    N0, N0, 3, E)  // </>
ZMK_UNICODE_PAIR(kbrak,    N0, N0, 5, B,    N0, N0, 5, D)  // [/]
ZMK_UNICODE_PAIR(excl,     N0, N0, 2, 1,    N0, N0, A, 1)  // !/¡
ZMK_UNICODE_PAIR(ques,     N0, N0, 3, F,    N0, N0, B, F)  // ?/¿
ZMK_UNICODE_PAIR(nslash,   N0, N0, 2, F,    N0, N0, 5, C)  // \/


// Define my layers
#define DEFAULT 0
#define SYM 1
#define NUM 2
#define NAV 3
#define MEDIA 4

// Define custom keys shortform
#define XX &none
#define MEH LG(LA(LCTRL))
#define HYP LS(LG(LA(LCTRL)))
#define REM LA(BSPC)
#define KCUT &kp LG(X)
#define KCOPY &kp LG(C)
#define KPASTE &kp LG(V)
#define MUL &kp KP_MULTIPLY
#define SUB &kp KP_SUBTRACT
#define ADD &kp KP_PLUS
#define DIV &kp KP_DIVIDE
#define K1 &kp KP_N1
#define K2 &kp KP_N2
#define K3 &kp KP_N3
#define K4 &kp KP_N4
#define K5 &kp KP_N5
#define K6 &kp KP_N6
#define C6 KP_N6
#define K7 &kp KP_N7
#define C7 KP_N7
#define K8 &kp KP_N8
#define C8 KP_N8
#define K9 &kp KP_N9
#define K0 &kp KP_N0
#define VOL_UP &kp C_VOL_UP
#define VOL_DOWN &kp C_VOL_DOWN
#define BR_UP &kp C_BRIGHTNESS_INC
#define BR_DOWN &kp C_BRIGHTNESS_DEC
#define MUTE &kp C_MUTE
#define PLAY &kp C_PLAY
#define PAUSE &kp C_PAUSE
#define PREV &kp C_PREV_TRACK
#define NEXT &kp C_NEXT_TRACK
#define STOP &kp C_STOP
#define SLEEP &kp C_SLEEP
#define POWER &kp C_POWER
#define CALC &kp C_CALCULATOR
#define PP &kp C_PLAY_PAUSE
#define SEARCH &kp C_AC_SEARCH
#define EXPOSE &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS
#define APPS &kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS

/* Homerow mods */

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                      // thumbs


/ {
        behaviors {
                hml: left_hand_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "LEFT_POSITIONAL_HOLD_TAP";
                        #binding-cells = <2>;
                        flavor = "tap-unless-interrupted";
                        tapping-term-ms = <100>;                        // <---[[produces tap if held longer than tapping-term-ms]]
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <KEYS_R THUMBS>;    // <---[[right-hand keys]]
                };
                hmr: right_hand_positional_hold_tap {
                        compatible = "zmk,behavior-hold-tap";
                        label = "RIGHT_POSITIONAL_HOLD_TAP";
                        #binding-cells = <2>;
                        flavor = "tap-unless-interrupted";
                        tapping-term-ms = <100>;                        // <---[[produces tap if held longer than tapping-term-ms]]
                        quick-tap-ms = <200>;
                        bindings = <&kp>, <&kp>;
                        hold-trigger-key-positions = <KEYS_L THUMBS>;    // <---[[left-hand keys]]
                };
        };
        keymap {
                compatible = "zmk,keymap";
                default_layer {
                        label = "BASE";
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
XX  &kp SQT       &kp COMMA     &kp DOT       &kp P           &kp Y         &kp F        &kp G         &kp C         &kp R         &kp L       XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX  &hml LCTRL A  &hml LALT O   &hml LGUI E   &hml LSHFT U    &kp I         &kp D       &hmr RSHFT H   &hmr RGUI T   &hmr RALT N    &hmr LCTRL S XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX  &kp SEMI      &kp Q         &kp J         &kp K           &kp X         &kp B        &kp M         &kp W         &kp V         &kp Z       XX
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────-───────┴─────────────╯
                                &mt MEH ESC   &mt NUM TAB  &mt SYM REM     &mt NAV SPC   &kp RET      &mt MEH BSPC
//                            ╰─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                symbol_layer {
                        label = "SYMBOL L";
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
XX  &kp GRAVE       XX              XX           &u_dia         XX         &kp CARET         XX        &kp LBKT       &kp RBKT        &ques    XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX &hml LCTRL &excl &hml LALT AT &hml LGUI HASH &hml LSHFT DLLR &kp PRCNT  &kp AMPS  &hmr RSHFT STAR &hmr RGUI LPAR &hmr RALT RPAR &hmr LCTRL PIPE     XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX      XX            KCUT         KCOPY          KPASTE         XX          XX            &kp MINUS    &kp EQUAL      &ntilde       &nslash       XX
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────-───────┴─────────────╯
                                    XX            XX            XX             &acute     &kp CAPS        XX     
//                            ╰─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                number_layer {
                        label = "NUMBER L";
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
XX  &kp F12       &kp F7        &kp F8        &kp F9         XX             &kbrak           K7            &k8            &k9         &ksub    XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX &hml LCTRL F11  &hml LALT F4   &hml LGUI F5  &hml LSHFT F6    XX       &kparen    &hmr RSHFT KP_N4 &hmr RGUI KP_N5 &hmr RALT KP_N6 &hmr LCTRL KP_PLUS XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX  &kp F10       &kp F1        &kp F2        &kp F3         XX             &kthan           K1            K2            K3           RET      XX
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────-───────┴─────────────╯
                                    XX           XX          XX             &kp SPC          K0         &kp DOT  
//                            ╰─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                /*
                navigation_layer {
                        label = "NAV";
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
XX      XX            XX            XX            XX            XX             XX          &kp HOME     &kp UP       &kp END          XX      XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX      XX            XX            XX            XX            XX             XX          &kp LEFT     &kp DOWN     &kp RIGHT     &kp PG_UP  XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX      XX            XX            XX            XX            XX              XX         KCUT         KCOPY          KPASTE     &kp PG_DOWN XX
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    XX            XX            XX            XX            XX            XX      
//                            ╰─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                media_layer {
                        label = "MEDIA";
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
XX      XX            XX            XX            XX            XX             XX            XX          BR_DOWN         BR_UP          XX      XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX      XX            APPS          EXPOSE      SEARCH          XX              XX            MUTE       VOL_DOWN      VOL_UP          XX      XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX      XX            XX            XX            XX            XX              XX            XX            PREV       NEXT          XX      XX
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────-───────┴─────────────╯
                                    XX          GLOBE            PP            XX            XX            XX      
//                            ╰─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                bluetooth_layer {
                        bindings = <
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
XX       XX            XX            XX            XX            XX              XX            XX      &bt BT_NXT     &bt BT_PRV       XX      XX   
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX      XX            XX            XX            XX            XX              XX       &bt BT_SEL 3 &bt BT_SEL 4       XX            XX      XX
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
XX      XX            XX            XX            XX            XX              XX       &bt BT_SEL 0 &bt BT_SEL 1  &bt BT_SEL 2          XX      XX
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤├─────────────┼─────────────┼─────────────┼─────-───────┴─────────────╯
                                     XX            XX            XX        &bt BT_CLR            XX            XX      
//                            ╰─────────────┴─────────────┴─────────────╯╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                */
        };
};
